/OGL.IoC/obj/Debug
/OGL.IoC/Properties
/OGL.IoC/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OGL.IoC/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OGL.IoC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/OGL.Services/obj/Debug
/packages/Unity.5.6.0
/Services/obj/Debug
/Repozytorium.Client/bin/Debug
